{
  "extends": ["rackt", "plugin:react/recommended"],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "array-bracket-spacing": 0,
    "comma-dangle": 0,
    "space-before-blocks": 0,
    "space-before-function-paren": 0
  }
}
